 <nav>
        <ul>
          <li>
            <a ui-sref="all-reviews" ui-sref-active="active">All reviews</a>
          </li>
          <li ng-hide="currentUser">
            <a ui-sref="sign-up" ui-sref-active="active">Sign up</a>
          </li>
          <li ng-show="currentUser">
            <a ui-sref="my-reviews" ui-sref-active="active">My Reviews</a>
          </li>
          <li ng-show="currentUser">
            <a ui-sref="add-review" ui-sref-active="active">Add Review</a>
          </li>
          <li ng-hide="currentUser">
            <a ui-sref="login" ui-sref-active="active">Log in</a>
          </li>
          <li ng-show="currentUser">
            <a ui-sref="logout" ui-sref-active="active">Log out</a>
          </li>
        </ul>
      </nav>

<section>
 <a ui-sref="logout" ui-sref-active="active">Log out</a>
  <form name="form" ng-submit="submitForm()">
    <fieldset>
      <legend>{{action}} review form</legend>

      <div class="form-group">
        <label>Coffee shop name</label>
        <select
            ng-disabled="isDisabled"
            ng-model="selectedShop"
            ng-options="shop as shop.name for shop in coffeeShops"></select>
      </div>

      <div class="form-group">
        <label>Rating</label>
        <input type="radio" ng-model="review.rating" value="1">1&#9733;
        <input type="radio" ng-model="review.rating" value="2">2&#9733;
        <input type="radio" ng-model="review.rating" value="3">3&#9733;
        <input type="radio" ng-model="review.rating" value="4">4&#9733;
        <input type="radio" ng-model="review.rating" value="5">5&#9733;
      </div>

      <div class="form-group">
        <label>Comments</label>
        <textarea ng-model="review.comments"></textarea>
      </div>

      <div class="actions">
        <label></label>
        <button>{{action}} review</button>
      </div>
    </fieldset>
  </form>
<section>
